<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homework 4</title>
    <style>
        a {
            padding:20px
        }
        .nnn {
            text-align:center
        }
    </style>
</head>
<body>
    <div class="nnn">
        {% for url,element in choice_list %}
        <a href="{% url 'home'%}{{url}}">{{element}}</a>
        {% endfor %}
    </div>
    <div class="nnn">
        {{writers_all}}
        <ul>
            {% for url, element in writers %}
            <li><a href="{% url 'home'%}{{url}}">{{element}}</a></li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>